@charset "utf-8";
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,table,td,dl,dt,dd,img,div,input{
    padding: 0;
    margin:  0;
}
body{
    font-size: 14px;

}
img{
    border: none;
}
input,select,textarea{
    outline: none;
}
textarea{
    resize: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.float_l{
    float: left;
}
.float_r{
    float: right;
}
.clearFix{
    clear: both;
}

/*蓝色按钮*/
.myBtn{
    display: block;
    background-color:#256FB9;
    text-align: center;
    border:1px solid #256FB9;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'microsoft Yahei';

}
.pubBtn{
    display: block;
    border:1px solid #FF776D;
    background-color: #FF776D;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    font-family: 'microsoft Yahei';
}
.pubBtn:hover{
    background-color:#FF524B;
}

/*白色背景大块div*/
.bgWhite{
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
/*文本域*/
.myTextArea{
    overflow-x: hidden;
    overflow-y:auto;
    border-radius: 3px;
}
@font-face {
    font-family: titleFamily;
    src:url('/static/image/depUnion/title.TTF');
}
@font-face {
    font-family: logo-fontFamily;
    src: url('/static/image/workMzBingli/logo.TTF');

}

